In [3]:
import tensorflow as tf
import pandas as pd
import matplotlib.pyplot as plt

2022-01-01 03:55:24.057101: W tensorflow/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libcudart.so.11.0'; dlerror: libcudart.so.11.0: cannot open shared object file: No such file or directory
2022-01-01 03:55:24.057135: I tensorflow/stream_executor/cuda/cudart_stub.cc:29] Ignore above cudart dlerror if you do not have a GPU set up on your machine.

In [4]:
(독립, 종속), _ = tf.keras.datasets.mnist.load_data()
print(독립.shape, 종속.shape)

독립 = 독립.reshape(60000, 28, 28, 1)
종속 = pd.get_dummies(종속)
print(독립.shape, 종속.shape)

(60000, 28, 28) (60000,)
(60000, 28, 28, 1) (60000, 10)

In [13]:
x = tf.keras.layers.Input(shape=[28, 28, 1])

h = tf.keras.layers.Conv2D(3, kernel_size=5, activation='swish')(x)
h = tf.keras.layers.MaxPool2D()(h)
h = tf.keras.layers.Conv2D(6, kernel_size=5, activation='swish')(h)
h = tf.keras.layers.MaxPool2D()(h)

h = tf.keras.layers.Flatten()(h)
h = tf.keras.layers.Dense(84, activation='swish')(h)
y = tf.keras.layers.Dense(10, activation='softmax')(h)

model = tf.keras.models.Model(x, y)
model.compile(loss='categorical_crossentropy', metrics='accuracy')

In [14]:
model.summary()

Model: "model_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 input_3 (InputLayer)        [(None, 28, 28, 1)]       0

 conv2d_4 (Conv2D)           (None, 24, 24, 3)         78

 max_pooling2d_2 (MaxPooling  (None, 12, 12, 3)        0
 2D)

 conv2d_5 (Conv2D)           (None, 8, 8, 6)           456

 max_pooling2d_3 (MaxPooling  (None, 4, 4, 6)          0
 2D)

 flatten_2 (Flatten)         (None, 96)                0

 dense_4 (Dense)             (None, 84)                8148

 dense_5 (Dense)             (None, 10)                850

=================================================================
Total params: 9,532
Trainable params: 9,532
Non-trainable params: 0
_________________________________________________________________

In [15]:
model.fit(독립, 종속, epochs=10)

Epoch 1/10
1875/1875 [==============================] - 22s 11ms/step - loss: 0.5036 - accuracy: 0.8806
Epoch 2/10
1875/1875 [==============================] - 21s 11ms/step - loss: 0.1375 - accuracy: 0.9596
Epoch 3/10
1875/1875 [==============================] - 21s 11ms/step - loss: 0.1025 - accuracy: 0.9688
Epoch 4/10
1875/1875 [==============================] - 21s 11ms/step - loss: 0.0886 - accuracy: 0.9736
Epoch 5/10
1875/1875 [==============================] - 22s 11ms/step - loss: 0.0818 - accuracy: 0.9763
Epoch 6/10
1875/1875 [==============================] - 21s 11ms/step - loss: 0.0740 - accuracy: 0.9781
Epoch 7/10
1875/1875 [==============================] - 21s 11ms/step - loss: 0.0685 - accuracy: 0.9794
Epoch 8/10
1875/1875 [==============================] - 21s 11ms/step - loss: 0.0674 - accuracy: 0.9798
Epoch 9/10
1875/1875 [==============================] - 21s 11ms/step - loss: 0.0637 - accuracy: 0.9813
Epoch 10/10
1875/1875 [==============================] - 21s 11ms/step - loss: 0.0614 - accuracy: 0.9818

In [18]:
pred = model.predict(독립[0:5])

pd.DataFrame(pred).round()

     0    1    2    3    4    5    6    7    8    9
0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0
1  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0
3  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
4  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0

In [19]:
pd.DataFrame(pred)

,0,1,2,3,4,5,6,7,8,9
0,1.832327e-10,1.882015e-10,4.943715e-15,9.367174e-03,1.188974e-15,9.906325e-01,7.441346e-13,3.199482e-09,4.221532e-11,2.056058e-07
1,1.000000e+00,3.087817e-15,5.316991e-12,1.226123e-12,2.849289e-15,4.561759e-14,3.628362e-13,5.911233e-13,2.572005e-10,6.189922e-10
2,4.556513e-22,1.235599e-17,1.070579e-10,3.702180e-14,9.999748e-01,2.326880e-14,2.272888e-21,2.423236e-06,4.632252e-10,2.276759e-05
3,1.401938e-07,9.999993e-01,2.565753e-08,4.173974e-11,3.273311e-07,5.526321e-10,1.921171e-10,3.689453e-08,1.385040e-07,1.494415e-07
4,1.757942e-09,1.680286e-10,2.683128e-07,7.826672e-08,2.456392e-04,1.445069e-07,5.890792e-11,8.695921e-04,4.614770e-06,9.988796e-01

In [9]:
종속[0:5]

   0  1  2  3  4  5  6  7  8  9
0  0  0  0  0  0  1  0  0  0  0
1  1  0  0  0  0  0  0  0  0  0
2  0  0  0  0  1  0  0  0  0  0
3  0  1  0  0  0  0  0  0  0  0
4  0  0  0  0  0  0  0  0  0  1

In [10]:
if pred.all() == 종속[0:5]:
    print(True)
else:
    print(False)

ValueError: The truth value of a DataFrame is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().